body {
    text-align: center;
}

#title {
    text-align: center;
    margin-bottom: 50px;
}

#libraryTab {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
}

#addBookButton {
    display: inline-block;
    align-self: flex-start;
    background-color: rgb(128, 162, 255);
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 40px;
    font-size: 17px;
}

.bookLine {
    display: grid;
    grid-template-columns: repeat(6, 15%);
    justify-items: center;
    height: 50px;
    align-items: center;
}

.cell {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.changeReadStatus, .deleteBook {
    width: 75%;
    height: 75%;
}

.color1 {
    background-color: rgb(201, 201, 201);
}

.color2 {
    background-color: rgb(217, 237, 255);
}

.info {
    background-color: yellow;
}

.danger {
    background-color: red;
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
}

#addBookForm {
    background-color: white;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 100px;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
        "bookNameLabel bookNameLabel bookNameLabel bookNameLabel"
        "bookNameInput bookNameInput bookNameInput bookNameInput"
        "bookAuthorLabel bookAuthorLabel bookAuthorLabel bookAuthorLabel"
        "bookAuthorInput bookAuthorInput bookAuthorInput bookAuthorInput"
        "pagesNumberLabel pagesNumberLabel pagesNumberLabel pagesNumberLabel"
        "pagesNumberInput pagesNumberInput pagesNumberInput pagesNumberInput"
        "readStatusLabel readStatusLabel readStatusLabel readStatusLabel"
        "readStatusRadioYes readStatusYes readStatusRadioNo readStatusNo"
        "addBook addBook cancel cancel";
    padding: 10px;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
}

#formBookNameLabel {
    grid-area: bookNameLabel;
}

#formBookName {
    grid-area: bookNameInput;
}

#formBookAuthorLabel {
    grid-area: bookAuthorLabel;
}

#formBookAuthor {
    grid-area: bookAuthorInput;
}

#formPagesNumberLabel {
    grid-area: pagesNumberLabel;
}

#formPagesNumber {
    grid-area: pagesNumberInput;
}

#formReadStatusLabel {
    grid-area: readStatusLabel;
}

#formRead {
    grid-area: readStatusRadioYes;
}

#formReadYes {
    grid-area: readStatusYes;
}

#formNotRead {
    grid-area: readStatusRadioNo;
}

#formReadNo {
    grid-area: readStatusNo;
}

#addBook {
    grid-area: addBook;
}

#cancel {
    grid-area: cancel;
}